:root {
    --color1: #4484d8;
    --color2: white;
    --color3: black;
    --border-radius: .3rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(to right, #4484d8, navy);
    color: white;
    text-align: center;
    height: 80px;
    padding-top: 15px;  
}

h1 {
    font-weight: bolder;
}

.container {
    margin-left: 0;
    max-width: 100%;
}

h2 {
    font-weight: bolder;
    color: black;
    text-align: left;
}

p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

h3 {
    padding-left: 15px;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: .3rem;
    color:white;
    border: none;
    outline: none;
    background-color: var(--color1);
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 2%;
  margin: 15px 0;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: .3rem;
}

#city-form {
    padding: 15px 0 15px 0;
    border-bottom: 3px solid grey;
    
}

#top-of-right-column {
    margin: 15px;
    border: 3px solid grey;
    padding: 2%;
}

#right-column {
    width: 100%;
}

#bottom-of-right-column {
    flex-wrap: wrap;
}

.cards {
    background-color:#39485e;
    min-height: 250px;
    min-width: 200px;
    margin: 20px;
    padding: 10px;
    color: white;

}

h4 {
    font-size: 2rem;
    font-weight: bolder;
}